backups/2025/05/uvSXre4ab7zwJUN2.json

{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Filtrar/Normalizar Mensagem": {
      "main": [
        [
          {
            "node": "IF - Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Skip?": {
      "main": [
        [
          {
            "node": "Buscar Lead Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Lead Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead Supabase": {
      "main": [
        []
      ]
    },
    "Criar Lead Supabase": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-05-17T08:03:39.596Z",
  "id": "uvSXre4ab7zwJUN2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 16",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "responder-conversa",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1800,
        80
      ],
      "id": "85475887-dcf0-4ab5-83b5-e18d5b21b4dc",
      "webhookId": "b6f5f204-3301-45b2-ac0c-da430d8baeed"
    },
    {
      "parameters": {
        "functionCode": "const msg = $json?.messages?.[0] || {};\nconst fromMe = msg?.key?.fromMe ?? false;\nconst bodyMsg = msg?.message?.conversation || '';\n\nif (fromMe || !bodyMsg.trim()) {\n  return [{ json: { skip: true, reason: 'Mensagem vazia ou enviada pelo bot' } }];\n}\n\nconst remoteJid = msg?.key?.remoteJid || '';\nconst number = remoteJid.replace(/[^0-9]/g, '');\nconst sessionId = msg?.key?.id || $execution.id;\n\nreturn [{\n  json: {\n    chatInput: bodyMsg.trim(),\n    sessionId,\n    number,\n    message: bodyMsg.trim()\n  }\n}];"
      },
      "name": "Filtrar/Normalizar Mensagem",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1540,
        80
      ],
      "id": "d0f6e6d8-774d-433e-9f74-f2485e63b1e9"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip === true }}",
              "operation": "is true"
            }
          ]
        },
        "options": {}
      },
      "name": "IF - Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1280,
        80
      ],
      "id": "4ccc357c-d31d-45cb-adfb-edec278c37ae"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.number }}"
            }
          ]
        }
      },
      "name": "Buscar Lead Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1000,
        -80
      ],
      "id": "28553750-f0e6-470f-819d-2dca8c38d724",
      "credentials": {
        "supabaseApi": {
          "id": null,
          "name": "SEU_CREDENCIAL_SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.number }}"
            },
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.sessionId }}"
            }
          ]
        }
      },
      "name": "Criar Lead Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1020,
        240
      ],
      "id": "bde1926f-7953-4158-a8da-4504f7c07415",
      "credentials": {
        "supabaseApi": {
          "id": null,
          "name": "SEU_CREDENCIAL_SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 30
      },
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        520
      ],
      "id": "47287d30-3570-40e8-8e1c-5f3e4205b9d5"
    },
    {
      "parameters": {},
      "name": "Switch - Tipo de Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -360,
        40
      ],
      "id": "27a28909-ca48-4bc2-b65e-1912830d73ca"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "name": "Transcribe Áudio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        400,
        300
      ],
      "id": "7f48ff6f-c0f1-4ea5-b811-fcdc5a78e774",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "SEU_CREDENCIAL_OPENAI"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Agente Aurora (Langchain)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        240,
        80
      ],
      "id": "e0a8e28b-2fc7-4d1b-be58-ffb059c45721",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "SEU_CREDENCIAL_OPENAI"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SEU_INSTANCE_NAME",
        "remoteJid": "={{ $json.number }}@s.whatsapp.net",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        480,
        80
      ],
      "id": "62ff787b-0ba8-45bd-ad84-38ba37058631",
      "credentials": {
        "evolutionApi": {
          "id": null,
          "name": "SEU_CREDENCIAL_EVOLUTION"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "backup-n8n",
  "repo_owner": "faelsou",
  "repo_path": "backups",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-05-17T08:03:39.596Z",
      "updatedAt": "2025-05-17T08:03:39.596Z",
      "role": "workflow:owner",
      "workflowId": "uvSXre4ab7zwJUN2",
      "projectId": "uxvBhUmI1Fx6jdU7"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-17T08:04:54.828Z",
  "versionId": "57e2b8f8-58e9-40ff-aae5-85f51c62b480"
}