backups/2026/05
/izhcakZ6hPjVePZ5.json

{
  "active": false,
  "connections": {
    "Agendamento Di치rio": {
      "main": [
        [
          {
            "node": "Buscar Parcelas Vencendo Hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Parcelas Vencendo Hoje": {
      "main": [
        [
          {
            "node": "Agrupar por Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar por Tenant": {
      "main": [
        [
          {
            "node": "Buscar Usu치rios do Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usu치rios do Tenant": {
      "main": [
        [
          {
            "node": "Formatar Email HTML para Usu치rios",
            "type": "main",
            "index": 0
          },
          {
            "node": "Formatar WhatsApp para Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Email HTML para Usu치rios": {
      "main": [
        [
          {
            "node": "Enviar Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar WhatsApp para Clientes": {
      "main": [
        [
          {
            "node": "Processar WhatsApp em Lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar WhatsApp em Lotes": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Sucesso WhatsApp": {
      "main": [
        [
          {
            "node": "Resumo Execu칞칚o",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resumo Execu칞칚o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Verificar Sucesso WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email HTML": {
      "main": [
        [
          {
            "node": "Resumo Execu칞칚o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-22T03:43:28.752Z",
  "id": "izhcakZ6hPjVePZ5",
  "isArchived": false,
  "meta": null,
  "name": "Agente IA - Notifica칞칫es Vencimentos Di치rios - Otimizado",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "222a088f-29e5-4f16-a4e0-671a8a38e1a8",
      "name": "Agendamento Di치rio",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  inst.id as parcela_id,\n  inst.loan_id,\n  inst.client_id,\n  inst.tenant_id,\n  inst.number as numero_parcela,\n  inst.due_date as data_vencimento,\n  inst.amount as valor_parcela,\n  inst.amount_paid as valor_pago,\n  inst.interest_amount,\n  inst.principal_amount,\n  inst.status,\n  c.nome as cliente_nome,\n  c.whatsapp,\n  c.celular,\n  c.telefone,\n  c.email as cliente_email,\n  l.model as modelo_emprestimo,\n  l.amount as valor_total_emprestimo,\n  (\n    SELECT COALESCE(SUM(i.principal_amount), 0)\n    FROM public.installments i\n    WHERE i.loan_id = inst.loan_id\n      AND i.status = 'PAID'\n  ) as total_principal_pago,\n  t.name as tenant_name\nFROM public.installments inst\nJOIN public.clients c ON inst.client_id = c.id\nJOIN public.loans l ON inst.loan_id = l.id\nJOIN public.tenants t ON inst.tenant_id = t.id\nWHERE inst.due_date = CURRENT_DATE\n  AND inst.status IN ('PENDING', 'LATE')\n  AND c.ativo = true\n  AND l.model IN ('PRICE', 'INTEREST_ONLY')\nORDER BY inst.tenant_id, c.nome;",
        "options": {}
      },
      "id": "81d43ab4-2438-46f0-9c11-5f3cff9c8f52",
      "name": "Buscar Parcelas Vencendo Hoje",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -720,
        128
      ],
      "credentials": {
        "postgres": {
          "id": "5W8bQyCCsNE27usm",
          "name": "Postgres CredGestor-Homologa칞칚o"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Processar parcelas e agrupar por tenant\nconst items = $input.all();\nconst tenantsMap = {};\n\nfor (const item of items) {\n  const parcela = item.json;\n  const tenantId = parcela.tenant_id;\n  \n  if (!tenantsMap[tenantId]) {\n    tenantsMap[tenantId] = {\n      tenant_id: tenantId,\n      tenant_name: parcela.tenant_name,\n      parcelas: [],\n      total_valor: 0,\n      total_parcelas: 0,\n      parcelas_price: [],\n      parcelas_juros: []\n    };\n  }\n  \n  // Calcular valor em aberto da parcela\n  const valorAberto = parseFloat(parcela.valor_parcela || 0) - parseFloat(parcela.valor_pago || 0);\n  \n  // Dados para c치lculo Juros/Saldo\n  const valorTotalEmprestimo = parseFloat(parcela.valor_total_emprestimo || 0);\n  const valorJuros = parseFloat(parcela.interest_amount || 0);\n  const valorPrincipal = parseFloat(parcela.principal_amount || 0);\n  const totalPrincipalPago = parseFloat(parcela.total_principal_pago || 0);\n  \n  // Calcular saldo devedor real (Principal Total - Principal j치 pago)\n  const saldoDevedor = valorTotalEmprestimo - totalPrincipalPago;\n  \n  // Determinar telefone do cliente e limpar caracteres\n  let telefone = parcela.whatsapp || parcela.celular || parcela.telefone;\n  let telefoneLimpo = null;\n  \n  if (telefone) {\n    telefoneLimpo = telefone.replace(/\\D/g, '');\n    // Adicionar DDI 55 se n칚o tiver e parecer ser BR (10 ou 11 digitos)\n    if (telefoneLimpo.length >= 10 && !telefoneLimpo.startsWith('55')) {\n      telefoneLimpo = '55' + telefoneLimpo;\n    }\n  }\n  \n  const modelo = parcela.modelo_emprestimo || 'PRICE';\n  \n  const parcelaData = {\n    parcela_id: parcela.parcela_id,\n    client_id: parcela.client_id,\n    cliente_nome: parcela.cliente_nome,\n    cliente_phone: telefoneLimpo,\n    cliente_phone_orig: telefone,\n    cliente_email: parcela.cliente_email,\n    numero_parcela: parcela.numero_parcela,\n    valor_parcela: parseFloat(parcela.valor_parcela || 0),\n    valor_aberto: valorAberto,\n    valor_juros: valorJuros,\n    valor_principal: valorPrincipal,\n    saldo_devedor: saldoDevedor,\n    status: parcela.status,\n    data_vencimento: parcela.data_vencimento,\n    modelo_emprestimo: modelo\n  };\n  \n  tenantsMap[tenantId].parcelas.push(parcelaData);\n  \n  // Separar por modelo para facilitar formata칞칚o do Email\n  if (modelo === 'PRICE') {\n    tenantsMap[tenantId].parcelas_price.push(parcelaData);\n  } else if (modelo === 'INTEREST_ONLY') {\n    tenantsMap[tenantId].parcelas_juros.push(parcelaData);\n  }\n  \n  tenantsMap[tenantId].total_valor += valorAberto;\n  tenantsMap[tenantId].total_parcelas += 1;\n}\n\n// Converter mapa para array\nconst processedItems = Object.values(tenantsMap).map(tenant => ({\n  json: tenant\n}));\n\nreturn processedItems;"
      },
      "id": "bf02d140-44de-4cc1-9432-85a57e088d68",
      "name": "Agrupar por Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  tu.id,\n  tu.email,\n  tu.role,\n  tu.metadata,\n  u.name as user_name\nFROM public.tenant_users tu\nLEFT JOIN public.users u ON tu.user_id = u.id\nWHERE tu.tenant_id = '{{ $json.tenant_id }}'\n  AND tu.ativo = true;",
        "options": {}
      },
      "id": "cacb2949-66cd-46e0-851e-dae49a451bda",
      "name": "Buscar Usu치rios do Tenant",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -240,
        128
      ],
      "credentials": {
        "postgres": {
          "id": "5W8bQyCCsNE27usm",
          "name": "Postgres CredGestor-Homologa칞칚o"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tenantData = $('Agrupar por Tenant').item.json;\nconst userEmail = $json.email;\nconst userName = $json.user_name || 'Parceiro';\nconst tenantName = tenantData.tenant_name;\n\nif (!userEmail || !tenantName) return [];\n\nconst hoje = new Date().toLocaleDateString('pt-BR');\n\n// Fun칞칚o Auxiliar de Moeda\nfunction formatMoneyBR(v) {\n  return Number(v ?? 0).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nconst parcelasPRICE = tenantData.parcelas_price || [];\nconst parcelasJUROS = tenantData.parcelas_juros || [];\n\n// ---------------- START HTML ----------------\nlet html = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: 'Helvetica', 'Arial', sans-serif; background-color: #f4f6f8; margin: 0; padding: 0; color: #333; }\n    .container { max-width: 650px; margin: 20px auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n    .header { background-color: #2c3e50; color: #ffffff; padding: 25px; text-align: center; }\n    .header h1 { margin: 0; font-size: 22px; font-weight: 300; }\n    .header h2 { margin: 5px 0 0; font-size: 16px; font-weight: 700; color: #ecf0f1; }\n    .content { padding: 30px; }\n    .intro { margin-bottom: 25px; font-size: 15px; color: #555; }\n    \n    .section-title { color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 8px; margin-top: 30px; margin-bottom: 15px; font-size: 18px; font-weight: 700; display: flex; align-items: center; gap: 8px; }\n    \n    /* Cards */\n    .client-card { border: 1px solid #e1e8ed; border-radius: 6px; padding: 15px; margin-bottom: 12px; background-color: #fdfdfd; transition: all 0.2s; }\n    .client-card:hover { border-color: #3498db; box-shadow: 0 2px 5px rgba(0,0,0,0.05); }\n    \n    .card-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; border-bottom: 1px dashed #eee; padding-bottom: 8px; }\n    .client-name { font-weight: bold; font-size: 16px; color: #2c3e50; }\n    .client-status { font-size: 11px; background: #e74c3c; color: white; padding: 2px 6px; border-radius: 4px; }\n    \n    .card-body { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; }\n    .data-row { display: flex; flex-direction: column; }\n    .label { font-size: 11px; color: #7f8c8d; text-transform: uppercase; margin-bottom: 2px; }\n    .value { font-size: 14px; color: #2c3e50; font-weight: 600; }\n    .highlight { color: #27ae60; }\n    \n    /* Bot칚o WhatsApp */\n    .btn-whatsapp { \n      display: inline-block; \n      background-color: #25D366; \n      color: white; \n      text-decoration: none; \n      padding: 6px 12px; \n      border-radius: 15px; \n      font-size: 12px; \n      font-weight: bold; \n      text-align: center;\n      margin-top: 5px;\n    }\n    .btn-whatsapp:hover { background-color: #1ebc57; }\n\n    .footer { background-color: #ecf0f1; text-align: center; padding: 15px; font-size: 12px; color: #7f8c8d; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>游댒 Notifica칞칚o de Vencimentos</h1>\n      <h2>${tenantName}</h2>\n    </div>\n    \n    <div class=\"content\">\n      <div class=\"intro\">\n        Ol치 <strong>${userName}</strong>,<br>\n        Seguem os clientes com vencimento hoje (${hoje}). Por favor, entre em contato para regulariza칞칚o.\n      </div>\n`;\n\n// --- SE칂츾O 1: MODELO PRICE ---\nif (parcelasPRICE.length > 0) {\n  html += `<div class=\"section-title\">游눱 Modelo PRICE (Parcelado)</div>`;\n  \n  parcelasPRICE.forEach(p => {\n    const linkWpp = p.cliente_phone ? `https://wa.me/${p.cliente_phone}?text=Ol치 ${p.cliente_nome}, lembramos do vencimento da sua parcela hoje.` : '#';\n    \n    html += `\n    <div class=\"client-card\">\n      <div class=\"card-header\">\n        <div class=\"client-name\">${p.cliente_nome}</div>\n        ${p.status === 'LATE' ? '<span class=\"client-status\">ATRASADO</span>' : ''}\n      </div>\n      <div class=\"card-body\">\n        <div class=\"data-row\">\n          <span class=\"label\">Contato</span>\n          ${p.cliente_phone ? \n            `<a href=\"${linkWpp}\" class=\"btn-whatsapp\" target=\"_blank\">游님 Chamar no WhatsApp</a>` : \n            '<span class=\"value\">Sem telefone</span>'}\n        </div>\n        <div class=\"data-row\">\n          <span class=\"label\">Valor Parcela</span>\n          <span class=\"value highlight\">R$ ${formatMoneyBR(p.valor_parcela)}</span>\n        </div>\n      </div>\n    </div>`;\n  });\n}\n\n// --- SE칂츾O 2: MODELO SOMENTE JUROS ---\nif (parcelasJUROS.length > 0) {\n  html += `<div class=\"section-title\">游늳 Modelo Somente Juros</div>`;\n  \n  parcelasJUROS.forEach(p => {\n    const linkWpp = p.cliente_phone ? `https://wa.me/${p.cliente_phone}?text=Ol치 ${p.cliente_nome}, lembramos do vencimento dos juros hoje.` : '#';\n\n    html += `\n    <div class=\"client-card\">\n      <div class=\"card-header\">\n        <div class=\"client-name\">${p.cliente_nome}</div>\n      </div>\n      <div class=\"card-body\" style=\"grid-template-columns: 1fr 1fr;\">\n        <div class=\"data-row\">\n          <span class=\"label\">Contato</span>\n          ${p.cliente_phone ? \n            `<a href=\"${linkWpp}\" class=\"btn-whatsapp\" target=\"_blank\">游님 Chamar no WhatsApp</a>` : \n            '<span class=\"value\">Sem telefone</span>'}\n        </div>\n        <div class=\"data-row\">\n          <span class=\"label\">Valor Juros</span>\n          <span class=\"value highlight\">R$ ${formatMoneyBR(p.valor_juros)}</span>\n        </div>\n        <div class=\"data-row\" style=\"grid-column: span 2; margin-top: 8px; border-top: 1px solid #eee; padding-top: 8px;\">\n          <span class=\"label\">游눯 Valor Restante em Aberto (Principal)</span>\n          <span class=\"value\">R$ ${formatMoneyBR(p.saldo_devedor)}</span>\n        </div>\n      </div>\n    </div>`;\n  });\n}\n\n// --- FOOTER ---\nhtml += `\n      <div style=\"margin-top: 30px; text-align: center; color: #999; font-size: 13px;\">\n        <p>Total de Vencimentos: <strong>${tenantData.total_parcelas}</strong> | Total a Receber: <strong>R$ ${formatMoneyBR(tenantData.total_valor)}</strong></p>\n      </div>\n    </div>\n    <div class=\"footer\">\n      Enviado automaticamente pelo Agente CredGestor\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    email: userEmail,\n    user_name: userName,\n    assunto: `游댒 Vencimentos do Dia - ${tenantName} - ${hoje}`,\n    html_message: html\n  }\n}];"
      },
      "id": "023b7a9d-2bde-4443-8cb0-04cf4470b13c",
      "name": "Formatar Email HTML para Usu치rios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Formatar mensagens WhatsApp individuais para clientes\nconst tenantData = $('Agrupar por Tenant').item.json;\nconst processedItems = [];\n\nconst hoje = new Date().toLocaleDateString('pt-BR');\n\nfunction formatMoneyBR(v) {\n  return Number(v ?? 0).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nfunction formatPhone(phone) {\n  if (!phone) return '';\n  const cleaned = phone.replace(/^55/, '');\n  if (cleaned.length === 11) {\n    return `(${cleaned.substring(0, 2)}) ${cleaned.substring(2, 7)}-${cleaned.substring(7)}`;\n  }\n  return cleaned;\n}\n\nfor (const parcela of tenantData.parcelas) {\n  // S칩 processar se tiver telefone v치lido\n  if (!parcela.cliente_phone) {\n    continue;\n  }\n  \n  let mensagem = '';\n  \n  // Mensagem para modelo PRICE\n  if (parcela.modelo_emprestimo === 'PRICE') {\n    mensagem = `游댒 *Lembrete de Vencimento*\\n\\n`;\n    mensagem += `Ol치 *${parcela.cliente_nome}*!\\n\\n`;\n    mensagem += `Sua parcela #${parcela.numero_parcela} vence hoje (${hoje}).\\n\\n`;\n    mensagem += `游눯 *Valor da Parcela:* R$ ${formatMoneyBR(parcela.valor_parcela)}\\n\\n`;\n    mensagem += `Por favor, realize o pagamento para evitar juros e multa.\\n\\n`;\n    mensagem += `Obrigado!\\n`;\n    mensagem += `_Sistema CredGestor_`;\n  }\n  // Mensagem para modelo INTEREST_ONLY (Somente Juros)\n  else if (parcela.modelo_emprestimo === 'INTEREST_ONLY') {\n    mensagem = `游댒 *Lembrete de Vencimento - Juros*\\n\\n`;\n    mensagem += `Ol치 *${parcela.cliente_nome}*!\\n\\n`;\n    mensagem += `O pagamento dos juros do seu empr칠stimo vence hoje (${hoje}).\\n\\n`;\n    mensagem += `游눯 *Valor dos Juros:* R$ ${formatMoneyBR(parcela.valor_juros)}\\n`;\n    mensagem += `游늵 *Saldo Devedor Restante:* R$ ${formatMoneyBR(parcela.saldo_devedor)}\\n\\n`;\n    mensagem += `Por favor, realize o pagamento.\\n\\n`;\n    mensagem += `Obrigado!\\n`;\n    mensagem += `_Sistema CredGestor_`;\n  }\n  \n  if (mensagem) {\n    processedItems.push({\n      json: {\n        telefone: parcela.cliente_phone,\n        mensagem: mensagem,\n        cliente_nome: parcela.cliente_nome,\n        parcela_id: parcela.parcela_id,\n        numero_parcela: parcela.numero_parcela,\n        modelo_emprestimo: parcela.modelo_emprestimo,\n        valor: parcela.modelo_emprestimo === 'INTEREST_ONLY' ? parcela.valor_juros : parcela.valor_parcela\n      }\n    });\n  }\n}\n\nreturn processedItems;"
      },
      "id": "4c4411f0-23a0-4970-898c-dded84957814",
      "name": "Formatar WhatsApp para Clientes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bb86047f-d642-4294-8bea-344e4872a3e6",
      "name": "Processar WhatsApp em Lotes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "largerEqual",
                "singleValue": true
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 299,
              "operator": {
                "type": "number",
                "operation": "smallerEqual",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "479e8a6b-d896-41c5-8abb-aadb8297973b",
      "name": "Verificar Sucesso WhatsApp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "summary-1",
              "name": "tenant_name",
              "value": "={{ $('Agrupar por Tenant').item.json.tenant_name }}",
              "type": "string"
            },
            {
              "id": "summary-2",
              "name": "total_parcelas",
              "value": "={{ $('Agrupar por Tenant').item.json.total_parcelas }}",
              "type": "number"
            },
            {
              "id": "summary-3",
              "name": "total_valor",
              "value": "={{ $('Agrupar por Tenant').item.json.total_valor }}",
              "type": "number"
            },
            {
              "id": "summary-4",
              "name": "emails_enviados",
              "value": "={{ $('Formatar Email HTML para Usu치rios').all().length }}",
              "type": "number"
            },
            {
              "id": "summary-5",
              "name": "whatsapp_enviados",
              "value": "={{ $('Processar WhatsApp em Lotes').item.json.totalItems || 0 }}",
              "type": "number"
            },
            {
              "id": "summary-6",
              "name": "data_execucao",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "summary-7",
              "name": "parcelas_price",
              "value": "={{ $('Agrupar por Tenant').item.json.parcelas_price.length }}",
              "type": "number"
            },
            {
              "id": "summary-8",
              "name": "parcelas_juros",
              "value": "={{ $('Agrupar por Tenant').item.json.parcelas_juros.length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "630f3e60-248b-40c9-b968-97d38252864d",
      "name": "Resumo Execu칞칚o",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        128
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ [{ email: $json.email }] }}",
        "subject": "={{ $json.assunto }}",
        "message": "={{ $json.html_message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        0
      ],
      "id": "2779a8fc-c10c-4bdc-b9ed-16d1dc761ef1",
      "name": "Enviar Email HTML",
      "webhookId": "05a7e4a6-e27c-4cd6-9d4e-ea8162a72f87",
      "credentials": {
        "gmailOAuth2": {
          "id": "a6p3Q2T0CPdmQVBb",
          "name": "Gmail CredGestor"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "CredGestor",
        "remoteJid": "={{ $json.telefone }}@s.whatsapp.net",
        "messageText": "={{ $json.mensagem }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        480,
        240
      ],
      "id": "b2de3342-222a-4382-a1f4-c9284765c12b",
      "name": "Enviar WhatsApp",
      "credentials": {
        "evolutionApi": {
          "id": "vBZUmfwmCqpNUkEJ",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "backup-n8n",
  "repo_owner": "faelsou",
  "repo_path": "backups",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-22T03:43:28.752Z",
      "updatedAt": "2026-01-22T03:43:28.752Z",
      "role": "workflow:owner",
      "workflowId": "izhcakZ6hPjVePZ5",
      "projectId": "uxvBhUmI1Fx6jdU7"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-22T03:43:28.752Z",
  "versionId": "0ff7a315-e7c1-47c5-94ac-2ea95ebb8d04"
}