backups/2026/03
/sMFePO6xWsN3r00R.json

{
  "active": false,
  "connections": {
    "⏰ Agendamento (5min)": {
      "main": [
        [
          {
            "node": "🔍 Buscar Instâncias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Buscar Instâncias": {
      "main": [
        [
          {
            "node": "⚙️ Processar Instâncias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Processar Instâncias": {
      "main": [
        [
          {
            "node": "📝 Montar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Montar Mensagem": {
      "main": [
        [
          {
            "node": "❓ Tem Instâncias com Problema?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Tem Instâncias com Problema?": {
      "main": [
        [
          {
            "node": "🚨 Slack — Alerta DOWN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ Slack — Tudo OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Tem instâncias DOWN?": {
      "main": [
        [
          {
            "node": "🚨 Slack — Alerta DOWN1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ Slack — Tudo OK1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Agendamento (5min)1": {
      "main": [
        [
          {
            "node": "🔍 Buscar Instâncias1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Buscar Instâncias1": {
      "main": [
        [
          {
            "node": "⚙️ Processar Instâncias1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Processar Instâncias1": {
      "main": [
        [
          {
            "node": "📝 Montar Mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Montar Mensagem1": {
      "main": [
        [
          {
            "node": "❓ Tem instâncias DOWN?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-28T00:40:49.141Z",
  "id": "sMFePO6xWsN3r00R",
  "isArchived": false,
  "meta": null,
  "name": "Evolution API - Monitor Instâncias v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "ca7d494c-6e3a-491f-84bb-e544c9a51778",
      "name": "⏰ Agendamento (5min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1376,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://apiwp.aiagentautomate.com.br/instance/fetchInstances",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=CN4AnbOtY79Wv6wNyx88cdoKXqugcINi"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "cb2e3854-2e07-4e94-b233-2c6e677db20d",
      "name": "🔍 Buscar Instâncias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vg1sLZdXLdtpj9vh",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const instances = $input.all();\nconst results = [];\n\nfor (const item of instances) {\n  const data = item.json;\n  \n  // A API pode retornar array ou objeto único\n  const list = Array.isArray(data) ? data : [data];\n  \n  for (const inst of list) {\n    const name = inst.instance?.instanceName || inst.name || 'Desconhecido';\n    const state = inst.instance?.state || inst.connectionStatus || inst.state || 'unknown';\n    const phone = inst.instance?.owner || inst.ownerJid || '';\n    const profileName = inst.instance?.profileName || inst.profileName || '';\n    \n    // Determina se está UP ou DOWN\n    const isUp = ['open', 'connected', 'CONNECTED'].includes(state);\n    const isConnecting = ['connecting', 'CONNECTING', 'Connecting'].includes(state);\n    \n    let status;\n    if (isUp) status = 'UP';\n    else if (isConnecting) status = 'CONNECTING';\n    else status = 'DOWN';\n    \n    results.push({\n      json: {\n        name,\n        state,\n        status,\n        phone: phone.replace('@s.whatsapp.net', ''),\n        profileName,\n        isUp,\n        isConnecting,\n        emoji: isUp ? '🟢' : isConnecting ? '🟡' : '🔴'\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "67ae77fb-31bb-410a-909f-03882797e6f2",
      "name": "⚙️ Processar Instâncias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst up = items.filter(i => i.json.status === 'UP');\nconst connecting = items.filter(i => i.json.status === 'CONNECTING');\nconst down = items.filter(i => i.json.status === 'DOWN');\n\nconst total = items.length;\nconst now = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n\n// Monta linhas detalhadas por instância\nconst lines = items.map(i => {\n  const d = i.json;\n  const phone = d.phone ? ` | 📱 ${d.phone}` : '';\n  const profile = d.profileName ? ` (${d.profileName})` : '';\n  return `${d.emoji} *${d.name}*${profile}${phone} — \\`${d.state}\\``;\n}).join('\\n');\n\n// Resumo de saúde geral\nlet healthIcon = '✅';\nif (down.length > 0 && down.length >= total / 2) healthIcon = '🚨';\nelse if (down.length > 0 || connecting.length > 0) healthIcon = '⚠️';\n\nconst summary = `${healthIcon} *Resumo:* 🟢 ${up.length} UP | 🟡 ${connecting.length} Connecting | 🔴 ${down.length} DOWN`;\n\nconst message = [\n  `*🤖 Evolution API — Status das Instâncias*`,\n  `🕐 ${now}`,\n  ``,\n  lines,\n  ``,\n  `━━━━━━━━━━━━━━━━━━━━━`,\n  summary,\n  `📊 Total: ${total} instâncias monitoradas`\n].join('\\n');\n\nreturn [{ json: { message, upCount: up.length, downCount: down.length, connectingCount: connecting.length, total } }];"
      },
      "id": "bdc1fee2-75f9-4e0d-85cc-cd3e2c920575",
      "name": "📝 Montar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-down",
              "leftValue": "={{ $json.downCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a42f8f0e-40b0-42ed-aa55-e0f50a12f308",
      "name": "❓ Tem Instâncias com Problema?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -496,
        0
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#evolution-api-monitor",
          "mode": "name"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {
          "mrkdwn": true,
          "unfurl_links": false,
          "unfurl_media": false
        }
      },
      "id": "cbbff463-4867-4908-8ab6-b5d89363423c",
      "name": "🚨 Slack — Alerta DOWN",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -272,
        -112
      ],
      "webhookId": "ade992f8-5f4f-42e6-8160-8cec05175095"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#evolution-api-monitor",
          "mode": "name"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {
          "mrkdwn": true,
          "unfurl_links": false,
          "unfurl_media": false
        }
      },
      "id": "8f449393-b561-4984-9d17-aadca704802a",
      "name": "✅ Slack — Tudo OK",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -272,
        96
      ],
      "webhookId": "53ba035c-968b-4213-bfd7-3197640dd777"
    },
    {
      "parameters": {
        "errorMessage": "Falha ao buscar instâncias da Evolution API. Verifique a conectividade e a API Key."
      },
      "id": "be6024be-a47b-4567-ae97-393649998584",
      "name": "❌ Erro - Notificar Falha",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        32,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-down",
              "leftValue": "={{ $json.downCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "52d5ad77-e1a0-4e51-b425-2f626adfd18c",
      "name": "❓ Tem instâncias DOWN?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -544,
        432
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "50a1aea6-811a-4183-8113-d7bf6c491117",
      "name": "⏰ Agendamento (5min)1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1424,
        432
      ]
    },
    {
      "parameters": {
        "url": "https://apiwp.aiagentautomate.com.br/instance/fetchInstances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "CN4AnbOtY79Wv6wNyx88cdoKXqugcINi"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 15000
        }
      },
      "id": "dab8e743-ddab-44b7-8765-d6e237d69586",
      "name": "🔍 Buscar Instâncias1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nconst results = [];\n\nfor (const item of input) {\n  const data = item.json;\n\n  // A resposta pode ser array direto ou objeto com propriedade\n  const list = Array.isArray(data) ? data : (Array.isArray(data.instances) ? data.instances : [data]);\n\n  for (const inst of list) {\n    // Suporte aos dois formatos de resposta da Evolution API\n    const name = inst.instance?.instanceName || inst.instanceName || inst.name || 'Desconhecido';\n    const state = inst.instance?.state || inst.connectionStatus || inst.state || 'unknown';\n    const phone = (inst.instance?.owner || inst.ownerJid || '').replace('@s.whatsapp.net', '');\n    const profileName = inst.instance?.profileName || inst.profileName || '';\n\n    // Classificação do status\n    const isUp = ['open', 'connected', 'CONNECTED'].includes(state);\n    const isConnecting = ['connecting', 'CONNECTING', 'Connecting'].includes(state);\n\n    let status;\n    if (isUp) status = 'UP';\n    else if (isConnecting) status = 'CONNECTING';\n    else status = 'DOWN';\n\n    results.push({\n      json: {\n        name,\n        state,\n        status,\n        phone,\n        profileName,\n        isUp,\n        isConnecting,\n        emoji: isUp ? '🟢' : isConnecting ? '🟡' : '🔴'\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "71cafaea-0e43-4ed9-bbe5-67d645222641",
      "name": "⚙️ Processar Instâncias1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst up = items.filter(i => i.json.status === 'UP');\nconst connecting = items.filter(i => i.json.status === 'CONNECTING');\nconst down = items.filter(i => i.json.status === 'DOWN');\n\nconst total = items.length;\nconst now = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n\n// Linhas individuais de cada instância\nconst lines = items.map(i => {\n  const d = i.json;\n  const phone = d.phone ? ` | 📱 ${d.phone}` : '';\n  const profile = d.profileName ? ` _(${d.profileName})_` : '';\n  return `${d.emoji} *${d.name}*${profile}${phone} — \\`${d.state}\\``;\n}).join('\\n');\n\n// Ícone de saúde geral\nlet healthIcon = '✅';\nif (down.length > 0 && down.length >= Math.ceil(total / 2)) healthIcon = '🚨';\nelse if (down.length > 0 || connecting.length > 0) healthIcon = '⚠️';\n\nconst summary = `${healthIcon} *Resumo:* 🟢 ${up.length} UP  |  🟡 ${connecting.length} Connecting  |  🔴 ${down.length} DOWN`;\n\nconst message = [\n  `*🤖 Evolution API — Status das Instâncias*`,\n  `🕐 _${now}_`,\n  `━━━━━━━━━━━━━━━━━━━━━`,\n  lines,\n  `━━━━━━━━━━━━━━━━━━━━━`,\n  summary,\n  `📊 Total monitorado: *${total}* instâncias`\n].join('\\n');\n\nreturn [{\n  json: {\n    message,\n    upCount: up.length,\n    downCount: down.length,\n    connectingCount: connecting.length,\n    total\n  }\n}];"
      },
      "id": "7260a4d0-4bef-4a33-92ac-355ad2f753ed",
      "name": "📝 Montar Mensagem1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        432
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#evolution-api-monitor",
          "mode": "name"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {
          "mrkdwn": true,
          "unfurl_links": false,
          "unfurl_media": false
        }
      },
      "id": "1c8f2d1a-62cc-46f5-8496-c015bd419cbb",
      "name": "🚨 Slack — Alerta DOWN1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -320,
        304
      ],
      "webhookId": "e022ed4e-3e36-4a39-825b-de2988ab5dba"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ANZBZTH0X",
          "mode": "id"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {
          "mrkdwn": true,
          "unfurl_links": false,
          "unfurl_media": false
        }
      },
      "id": "a7f3ea45-7911-4a8e-af1a-8bbe4cb8b3c0",
      "name": "✅ Slack — Tudo OK1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -320,
        544
      ],
      "webhookId": "426e7fea-8ebf-4c81-afd6-e87b17464aec",
      "credentials": {
        "slackOAuth2Api": {
          "id": "PA8mo1WmJVkdfUdH",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "backup-n8n",
  "repo_owner": "faelsou",
  "repo_path": "backups",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-03-28T00:40:49.141Z",
      "updatedAt": "2026-03-28T00:40:49.141Z",
      "role": "workflow:owner",
      "workflowId": "sMFePO6xWsN3r00R",
      "projectId": "uxvBhUmI1Fx6jdU7"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-28T00:36:34.270Z",
      "updatedAt": "2026-03-28T00:36:34.270Z",
      "id": "sqBrrOQ4ljHt6z4Y",
      "name": "evolution-api"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-28T01:22:27.116Z",
  "versionId": "ec1aee6f-21de-4a3f-bcdb-beb5d7c04680"
}