backups/2025/12
/z7jvsDQhkmg9M1lo.json

{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Comercial",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Comercial": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Comercial",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Agente Comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_IA": {
      "ai_tool": [
        [
          {
            "node": "Agente Comercial",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created1": {
      "main": [
        [
          {
            "node": "Set File ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated1": {
      "main": [
        [
          {
            "node": "Set File ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID1": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Extract PDF Text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "dados_IA",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-10T15:31:26.955Z",
  "id": "z7jvsDQhkmg9M1lo",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Base de Conhecimento comercial GRD-HOMO",
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 280,
        "width": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        1168
      ],
      "typeVersion": 1,
      "id": "47335fc9-5d27-4186-865a-eb818969fb71",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "## Cria tabela documentos",
        "height": 80,
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        1184
      ],
      "typeVersion": 1,
      "id": "f6ef50e3-2f2e-457f-8279-b1e47b767abe",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  sessionid text\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1856,
        1296
      ],
      "id": "06bd67df-b318-4378-b19f-a0a493e99f15",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "F9YTJESL5BceDOve",
          "name": "Postgres-GRD"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 280,
        "width": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1920,
        1168
      ],
      "typeVersion": 1,
      "id": "344ba5c4-29b1-49ed-983d-4e1426993fec",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "## Cria tabela dados_cliente",
        "height": 80,
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1872,
        1184
      ],
      "typeVersion": 1,
      "id": "be76d579-d07b-4ebf-8468-2e11d930cba1",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from dados_cliente",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1840,
        1664
      ],
      "id": "3ba2ed13-20dc-4817-af8f-7cb97f951e71",
      "name": "Postgres2",
      "credentials": {
        "postgres": {
          "id": "F9YTJESL5BceDOve",
          "name": "Postgres-GRD"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 340,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1920,
        1488
      ],
      "typeVersion": 1,
      "id": "5d9c2733-2165-4f6a-a9f4-9e0b8904d46b",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "## Deleta dados tabela dados_cliente",
        "height": 120,
        "width": 200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1872,
        1504
      ],
      "typeVersion": 1,
      "id": "15587654-7a41-4ab4-b6c4-73176fde35b2",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "",
        "height": 340,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        1488
      ],
      "typeVersion": 1,
      "id": "6a77601a-83a8-41ce-94b2-60c116c6c1c7",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "content": "## Deleta dados tabela documentos",
        "height": 120,
        "width": 200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        1504
      ],
      "typeVersion": 1,
      "id": "1c7797f4-dc20-4a59-8ac3-ec1a57f4a00d",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from n8n_chat_histories",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1552,
        944
      ],
      "id": "72a39b1c-da32-432b-a9ce-f4002d195164",
      "name": "Postgres4",
      "credentials": {
        "postgres": {
          "id": "F9YTJESL5BceDOve",
          "name": "Postgres-GRD"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 340,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        784
      ],
      "typeVersion": 1,
      "id": "287473cc-b24c-4f82-aa1a-f2f65606f9fb",
      "name": "Sticky Note39"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from documents",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1552,
        1664
      ],
      "id": "8881f84d-bb30-421c-a18c-d86f1a566553",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "F9YTJESL5BceDOve",
          "name": "Postgres-GRD"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "topP": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        64,
        400
      ],
      "id": "831143c8-3d83-472a-9a11-d748bde2196c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4CT8zdx4hKi3971O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge').item.json.chatInput }}{{ $('Edit Fields').item.json.mesageText }}",
        "tableName": "n8n_chat_histories_vendas"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        240,
        528
      ],
      "id": "38393082-a03f-4c4b-83a2-bc78eb081e86",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "F9YTJESL5BceDOve",
          "name": "Postgres-GRD"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create a table to store your documents\ncreate table documentos_comercial (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1568,
        1296
      ],
      "id": "fdd7d560-96d8-4e81-b8db-4719f7a9810a",
      "name": "Postgres_GRD",
      "credentials": {
        "postgres": {
          "id": "F9YTJESL5BceDOve",
          "name": "Postgres-GRD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7c14c1f-879d-456c-831f-86b91f6bbc92",
              "name": "mesageText2",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "8f25364d-ec36-4798-92dc-9d8f9b75a4d0",
              "name": "sessionId2",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "a1d3a71b-2f87-459d-983a-e261bd3581a8",
              "name": "mesageText",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "0e46d0ac-ea6f-4479-bc0d-31c9d612f3ba",
              "name": "sessionId",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        128
      ],
      "id": "21f38d0e-1d61-4deb-a0b4-50d2d342eed3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.mesageText }}",
        "options": {
          "systemMessage": "=Você é **Joanna**, Assistente Comercial da **GRD MAD**. Sua única função é responder perguntas consultando a ferramenta `dados_IA`.\n\nRegras:\n\n1. Sempre consulte a ferramenta `dados_IA` enviando a pergunta literal do usuário.\n2. Se a ferramenta `dados_IA` retornar algum texto, você deve responder **exatamente com esse texto**, sem adicionar nada.\n3. Se a ferramenta `dados_IA` não retornar informação relevante, responda:\n   \"Essa informação ainda não está na nossa base, mas posso pedir para o time atualizar o conhecimento interno.\"\n4. Nunca use conhecimento próprio.\n5. Não invente nada caso a resposta esteja incompleta.\n6. As respostas devem ser curtas, diretas e baseadas APENAS na base vetorial.\n\npode utilizar as informações abaixo:\n\nBASE DE CONHECIMENTO rafael\n## Endereço\n**Rua Monte Alegre, 664**  \nJardim Rebelato, Cotia - SP  \n**CEP:** 06710-610\n---\n## Funcionamento / Atendimento\nSegunda a Sexta \ndas 08h as 17h48\n—\n## Redes Sociais e Site\nInstagram: https://www.instagram.com/grd_mad\nSite: https://grdmad.com.br/\nCatalogo de cores: https://www.grdmad.com.br/catalogo-cores.pdf \nNa GRD MAD não temos Mostruário, somos Fabrica Caso queira conhecer nosso projetos acessar: https://www.instagram.com/grd_mad \n—\n## 🏢 Quem Somos\nA **GRD MAD** atua no segmento de móveis planejados desde 2014.  \nLocalizada na **Rua Monte Alegre, 664, Jardim Rebelato, Cotia/SP**, a empresa conta com um parque fabril de aproximadamente **1.200 m²**.\nCom uma equipe de profissionais altamente qualificados, a GRD MAD é focada em oferecer soluções completas e personalizadas para ambientes residenciais e corporativos, utilizando tecnologia de ponta e materiais de alta qualidade.\nA fábrica conta com equipamentos de última geração e processos otimizados para atender às necessidades de seus clientes, oferecendo qualidade, design e funcionalidade em seus produtos.\n---\n### **Missão**\nProporcionar soluções criativas e personalizadas em móveis planejados, com excelência em qualidade, design e funcionalidade, atendendo às necessidades e expectativas dos nossos clientes.\n---\n### **Visão**\nSer referência no segmento de móveis planejados, destacando-se pela qualidade, inovação, atendimento e compromisso com a sustentabilidade.\n---\n### **Valores**\n- Valorização e respeito aos colaboradores, clientes e parceiros.  \n- Ética e transparência em todos os processos.  \n- Comprometimento com a qualidade e inovação.  \n- Sustentabilidade e responsabilidade social.  \n- Zelo pela satisfação e imagem de nossos clientes.\n---\n## Nossa Equipe\nA **GRD MAD** atua com uma equipe de profissionais altamente capacitados e comprometidos em transformar ambientes com criatividade e funcionalidade.  \nNosso time está sempre pronto para atender e superar as expectativas dos clientes.\n---\n## A Fábrica\nA fábrica da GRD MAD está equipada com **máquinas CNC** e tecnologia de ponta, garantindo **precisão no corte, acabamento impecável e agilidade na produção**.\nEla conta com processos otimizados que permitem atender a diferentes demandas, mantendo a **qualidade** como prioridade.\n---\n## Diferenciais GRD MAD\n- Opção de entrega **Express** em **15 dias úteis** das cores padrões.  \n- Entregas variando de **25 a 30 dias úteis** (Conforme a complexidade do projeto).  \n- Atende toda a **região metropolitana de São Paulo e interior**, levando soluções para diversas cidades.  \n- **Fundada e gerida** com base em valores familiares sólidos.  \n- Projeto próprio com **consultoria de design de interiores**.  \n- Opção de entrega **com montagem inclusa** por equipe especializada.  \n- **Equipe treinada** com foco em qualidade, segurança e atendimento.  \n- Sala de atendimento preparada com **mostruário físico** e apresentação digital de projetos.  \n- Produção com **materiais de alta qualidade**, garantindo durabilidade e resistência.  \n- **Etiquetas nas peças** para fácil identificação e organização na montagem.  \n- Cobertura de **5 anos de garantia** para defeitos de fabricação.  \n- Flexibilidade para atender projetos de diferentes tamanhos e complexidade.  \n- Trabalha com **matérias-primas sustentáveis**, respeitando normas ambientais.\n-  nossos móveis são fabricados com mdf em 100% das peças \n-  temos metalon no nosso Promob\n## 🛡️ Garantias e Qualidade\n- **Garantia de 5 anos** para defeitos de fabricação.  \n- **Controle de qualidade rigoroso** em todas as etapas do processo.  \n- Respeito às normas de segurança e ambientais.\n---\n## 📝 Resumo\nA GRD MAD se destaca no mercado de móveis planejados pela união de **qualidade, inovação e atendimento personalizado**.  \nCom estrutura própria e equipe altamente capacitada, a empresa oferece **soluções sob medida**, desde o projeto até a entrega e montagem, garantindo a satisfação dos clientes.\n## RIPADO:\nNão temos ripado pronto no promob, devem ser construídos com tamponamentos e ou painéis. A ripa deve ter no mínimo 3cm pois é a largura mínima que podem ser fitados.\n## IMPLANTAÇÃO DE PEDIDO\nPRIMEIRO PEDIDO\nEmail para envio de implantação: \ncontato@grdmad.com.br O pedido deve ser enviado por e-mail, podendo ser anexado o arquivo do Promob ou informado o identificador do projeto (número).No corpo do e-mail, é importante separar os valores por ambiente, de forma organizada e clara.Caso haja observações relevantes, recomenda-se destacá-las em negrito e na cor vermelha. Exemplos: vai usinagem, fazer sanduíche ou qualquer outra informação que mereça atenção especial.\n—\n##Ficha cadastral para novos Clientes  GRD MAD ✅DADOS DO CLIENTE\nRazão social\nNome fantasia \nCNPJ\nInscrição Estadual \nE-mail \nTelefone \nEndereço Completo \nLogo\n\n## Pagamento via PIX\n\nA **chave PIX da GRD MAD** é o **CNPJ 07.222.560/0001-30**.  \nUse essa chave PIX para realizar pagamentos, sinalizações de pedidos e demais transferências para a fábrica.\n—\nRetirada de Mercadoria / Entrega \nprecisa ser enviado atraves do representante para o grupo entregas um protocolo de retirada no seguinte formato:\nRetirada de pedido\nCliente: Casa Prime Planejados\nPedido implantado: \nCAROLINE FREIRE \nFreteiro : Paulo Roberto Ferreira \nData: 28/10\nPeríodo: Manhã\n—\nComprovante: pagamentos:\nAssim que o cliente fizer o pagamento, o representante precisa mandar o comprovante no grupo de comprovantes, colocando o nome do cliente e o nome do pedido.\n—\nCaixaria, caixas x portas \nAs caixas dos móveis na GRD são todas de 15mm.\nAs portas podem ser de 15mm ou 18mm, e dá pra mudar isso no configurador de dimensões dentro do Promob.\nMas atenção: para dormitórios, só é permitido usar portas de 18mm.\nAs caixas são parafusadas mas em breve estaremos com sistema de cavilha e girofix (mais ou menos em meados de fevereiro de 2026)\nAs caixas já vão montadas e as gavetas também.\n—\nFerragens:\nTrabalhamos com as ferragens todas da FGV, todas as dobradiças são com amortecedor, não temos a opção sem amortecedor. \nCorrediças temos telescópica Hard, Telescópica com amortecedor e Oculta (invisível) com amortecedor. \nMDF trabalhamos com Arauco, Duratex, eucatex e Guararapes.\nParafusos Jomarca, Alumínio RFC e Rometal\n—\n🆕 Inovações Recentes na Produção e no Produto\n\nNos últimos meses, a empresa passou por um importante processo de modernização e aprimoramento técnico. Entre as principais inovações, destacam-se:\n\nNovo sistema de montagem: As caixas dos armários passaram a ser produzidas com cavilhas e girofix, substituindo o sistema parafusado, garantindo melhor acabamento e precisão.\n\nInclusão do metalon na linha de produção, ampliando a robustez e qualidade estrutural dos móveis.\n\nUsinagem personalizada, adaptada às especificações de cada modelo e cliente.\n\nPortas do perfil Y usinadas diretamente na máquina, substituindo o processo manual e elevando o padrão de acabamento.\n\nNovas frentes de gaveta e portas com puxador cava reta, trazendo modernidade e sofisticação ao design.\n\nMarcação de furação padronizada em prateleiras, gavetas e corrediças, facilitando o processo de montagem.\n\nInclusão do porta-tempero de madeira como novo item de linha.\n\nAtualização do catálogo Promob com novos modelos de puxadores.\n\nCorrediças invisíveis com amortecedor, oferecendo mais conforto e suavidade no uso.\n\nAmpliação das medidas de corrediças, agora disponíveis em tamanhos de até 55 cm, aumentando a versatilidade dos projetos.\n\nProximidade dos clientes com a fábrica: Atendimento personalizado com auxilio para dúvidas com acesso remoto imediato.\n\nTreinamento avançado de Promob. \nPasta Mostruário novo com novas cores\n\nTreinamento de técnica de vendas para lojistas.\n\nImplementação de carrinho de mostruário\n\nPromoções de incentivo (EX: express sem custo até final de outubro)\n\n*essas são  algumas mudanças implementadas pelo comercial nos últimos meses na nova gestão*\nTemos muitas outras em andamento\n\nMudança para parque fabril maior \nNova coladeira com mais 15 modelos de puxador cava.\n\nLACA OU LACCA \n\n“As chapas na cor laca disponíveis na nossa linha são a laca branca, a laca preta e o fumê laca. Elas têm acabamento brilhante em apenas um lado, enquanto o outro é fosco. Essas opções estão disponíveis nas espessuras de 6mm, 15mm e 18mm — não temos essas cores em 25mm. Então, se no Promob você selecionar 25mm e escolher uma dessas cores, o preço vai aparecer zerado.”\n\nUSINAGEM\nAs usinagens devem ser devidamente identificadas no Promob. Para isso, o projetista ou a loja deve inserir, sobre a peça que necessita de usinagem, uma caixa de texto em 3D contendo a palavra “Usinagem”.\nAlém disso, é necessário encaminhar um projeto em PDF contendo o desenho da peça a ser usinada, com todas as medidas correspondentes.\nO valor cobrado pelas usinagens é de R$150,00 por metro quadrado, considerando a dimensão total da peça, e não apenas a área usinada.\nImportante ressaltar que não realizamos a fitagem das usinagens — as peças são enviadas sem fita de borda.\n\nPRATELEIRAS E DIVISÓRIAS com profundidade diferente \nNesse caso é configuração de Promob \nsegue link de vídeo explicativo https://www.loom.com/share/853753e265f14d6f9911379c2ff63caf\n\n\nApresentação da G&D: Inovações em Móveis Planejados e Parcerias Estratégicas\nResumo condensado\nA GRD oferece móveis planejados com alto grau de personalização, cores populares e exclusivas, integração direta com o Promob para projetos editáveis milimetricamente, pré-montagem de módulos para acelerar obras, embalagem robusta, prazos de 25 dias (express em 15) e garantia de cinco anos. Além disso, disponibiliza financiamento via Santander e EVO, suporte em projetos, treinamento de Promob e técnica de vendas, tudo sob a marca da loja (white label) para fortalecer o ponto comercial e resolver as principais dores de lojistas: falta de montador, falta de projetista e necessidade de agilidade.\n\n\nDetalhamento por tópicos\n🎨 Cores e acabamentos\n    • Linha de cores mais vendidas, pesquisadas junto aos fornecedores, com preços competitivos\n\n    • Exemplos campeões:Gianduia  (preço próximo ao branco), pau-ferro, bege matt\n\n    • Cores “coringa” no Promob: qualquer cor do Google, porém com custo adicional\n\n    • Novidades no catálogo testadas previamente em vendas e pesquisas\n\n\n\n💻 Integração com Promob e Customização\n    • Módulos totalmente editáveis milímetro a milímetro (profundidade, altura, largura)\n\n    • Opções de pintura lateral de cor diferente do corpo do móvel\n\n    • Biblioteca própria no Promob, construída por projetista especialista\n\n    • Construtor avançado: atalhos para torres elétricas em segundos, ajustes dinâmicos de medidas\n\n    • Importação direta de arquivos SketchUp do arquiteto para o Promob com conversão automática\n\n* render feito pela IA\n\n💳 Financiamento e Parcerias\n    • Santander Financiamentos: análise e habilitação para venda financiada no boleto\n\n    • Parceria EVO Cartões: até 24 vezes com taxa de ~17% a.a. (menos de 1% por parcela)\n\n    • Opção “bipartido” para facilitar venda parcelada sem concentrar taxas no lojista\n\n\n\n📦 Pré-montagem e Logística\n    • Todos os módulos e gavetas já montados na fábrica, marcados e embalados com plástico filme e cantoneiras\n\n    • Corrediças telescópicas, com amortecedor e corrediças ocultas disponíveis\n\n    • Profundidade versátil (até 80 cm) e portas/chapas de até 2,72 m de altura\n\n    • Assistência técnica local em SP: reparos em até 3 dias via Uber ou entregador ágil\n\n    • Montador monta o mínimo de caixas na obra; módulos chegam prontos para fixação\n\n\n\n🛠 Solução de “dores” dos lojistas\n    • Escassez de montadores: módulos pré-montados dobram produtividade e garantem qualidade\n\n    • Falta de projetistas: treinamentos de Promob básico e avançado, técnica de vendas focada em planejado\n\n    • Atendimento remoto e suporte pós-venda para clientes e projetistas\n\n    • Etiquetagem com código único por módulo para evitar erros de montagem\n\n\n\n🚀 Prazos e Expresso\n    • Prazo padrão: 25 dias úteis (com opção express em 15 dias, +10–15% sobre o valor do pedido)\n\n    • Express gera cerca de 30% da receita, atende urgências de clientes que não querem atrasos\n\n\n\n🏷 White label e Pontos Comerciais\n    • Produtos nominalmente identificados com o nome da loja, nunca com GRD ou Index/Rimo\n\n    • Vídeos e fotos da “fábrica da loja” para apresentar produção própria e transmitir confiança\n\n    • Foco no fortalecimento da marca local em vez do nome da indústria\n\n\n\n🛡 Materiais e Garantias\n    • Bordas coladas com PU (em 72 h fundem à peça) em vez de hot melt tradicional\n\n    • Usinagens especiais: cantos arredondados, desenhos exclusivos, tampos curvos\n\n\n\n🎓 Treinamento e Suporte Comercial\n    • Aulas presenciais e online de Promob, vendas e briefing de projetos\n\n    • Suporte remoto para dúvidas de uso do software e técnicas de abordagem ao cliente\n\n    • Metodologia ativa de vendas, geração de demanda e gatilhos de venda (sem propaganda tradicional)\n\n\n\n📈 Resultados e Métricas\n    • Lojista com equipe monta em média R$ 100.000/mês; com módulos GRD dobra a capacidade\n\n    • Projetistas treinados vendem de R$ 70.000 a R$ 80.000 no primeiro mês de planejado\n\n    • Indicações de montadores satisfeitos impulsionam novas vendas\n\n\n\nConclusões finais\nA GRD entrega um modelo completo de móveis planejados: personalização avançada, montagem industrial na fábrica, finanças acessíveis, treinamento específico e white label para valorizar a loja. Isso resolve as maiores queixas do mercado (prazos, equipe e projeto), aumenta a produtividade, reduz erros de montagem e fortalece a marca local, resultando em maior lucratividade e escala para os lojistas."
        }
      },
      "id": "b26b5826-2529-47d7-98d6-603f803a89de",
      "name": "Agente Comercial",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        192,
        128
      ],
      "alwaysOutputData": true,
      "notes": "\n{\n  \"toolChoice\": \"required\",\n  \"returnToolsOutput\": true\n}\n"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comercial",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1216,
        112
      ],
      "id": "b09acbe7-cd9c-40c2-b533-dc85ee75bf03",
      "name": "Webhook",
      "webhookId": "661365d6-4125-433b-a2af-7f521cd73c3a"
    },
    {
      "parameters": {
        "content": "## Deleta dados tabela chat_history",
        "height": 120,
        "width": 200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1616,
        800
      ],
      "typeVersion": 1,
      "id": "d654d45f-7e82-410c-a0b7-d280d009c05b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.messageText || '').toLowerCase().trim();\nconst isGreeting = /^(oi|ol[aá]|e?a[ií]|hey|hi|hello|bom dia|boa tarde|boa noite)\\b/.test(text);\nreturn [{ json: { ...$json, isGreeting } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        128
      ],
      "id": "77387f51-965e-49b4-af63-9d83ca2c1629",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -864,
        128
      ],
      "id": "2095c4cd-98de-4b94-90f8-32f258f03618",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        128
      ],
      "id": "31d9bbb4-87ca-4ef1-9e42-347609768e0d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b9eacf6-b382-41b3-b159-921692c8ddca",
              "name": "mesageText",
              "value": "={{ $json.mesageText }}",
              "type": "string"
            },
            {
              "id": "4667292e-d574-43fe-9f29-f5ca6ae2975d",
              "name": "sessionKey",
              "value": "={{ $json.sessionKey }}",
              "type": "string"
            },
            {
              "id": "0c6b8f07-5ba2-4e92-bc71-0971f85911fb",
              "name": "mesageText2",
              "value": "={{ $json.messageText }}",
              "type": "string"
            },
            {
              "id": "59a7cb22-f2bf-4c50-90ee-3166ae097dc9",
              "name": "sessionKey2",
              "value": "={{ $json.sessionKey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        128
      ],
      "id": "919ba3b9-47f9-47df-807d-008edcb84720",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use esta ferramenta para buscar informações sobre comercial, materiais, e detalhes da GRD MAD para responder às perguntas do time de vendas.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        432,
        416
      ],
      "id": "5213db8a-d341-41cf-ab51-240b844459c5",
      "name": "dados_IA",
      "credentials": {
        "supabaseApi": {
          "id": "r2uQFvlq0GDUjDGV",
          "name": "Supabase GrdMad"
        }
      }
    },
    {
      "parameters": {
        "content": "# Ferramenta para Adicionar um Arquivo do Google Drive ao Banco de Dados Vetorial.",
        "height": 80,
        "width": 1493,
        "color": 5
      },
      "id": "8ee7ed30-d25c-47e3-bb7b-4abc433199e5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        880
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "a81eb229-a5f1-44c0-9566-7923da602d8c",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        480,
        1184
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "ac889372-c904-45ec-bd4e-953cd1940b58",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        640,
        1184
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "103e14e5-09de-4da9-b04b-eb51b6b988ac",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -112,
        1168
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lEIDsWEIbsEr4Vq9",
          "name": "Google Drive GrdMad"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "15eKJLjA3-TnYck8cfOKQXVP-JHvO15Qk",
          "mode": "list",
          "cachedResultName": "Teste - Rafael",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15eKJLjA3-TnYck8cfOKQXVP-JHvO15Qk"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "8000d92e-630d-45e6-880d-ccc568bacc45",
      "name": "File Created1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        1104
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lEIDsWEIbsEr4Vq9",
          "name": "Google Drive GrdMad"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "15eKJLjA3-TnYck8cfOKQXVP-JHvO15Qk",
          "mode": "list",
          "cachedResultName": "Teste - Rafael",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15eKJLjA3-TnYck8cfOKQXVP-JHvO15Qk"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "950c8f9d-e23b-442d-af71-5ee213b8588b",
      "name": "File Updated1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        1296
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lEIDsWEIbsEr4Vq9",
          "name": "Google Drive GrdMad"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "d0cec4c5-65b4-45f3-ab7b-4156162cecf8",
      "name": "Extract Document Text1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        464,
        1344
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "00421090-580f-403f-9811-021006a7a7f4",
      "name": "Delete Old Doc Rows1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -656,
        1152
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "r2uQFvlq0GDUjDGV",
          "name": "Supabase GrdMad"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "c774ed34-0d67-44b7-a537-83810f357b7c",
              "name": "originalFilename",
              "value": "={{ $json.originalFilename }}",
              "type": "string"
            },
            {
              "id": "dff39c85-b4a2-45ba-a5ff-f4b311999efc",
              "name": "sha1Checksum",
              "value": "={{ $json.sha1Checksum }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2a2b811e-707b-4100-821b-2c1dff5cdf56",
      "name": "Set File ID1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "69f51575-a878-4647-870d-3992de09251f",
      "name": "Extract PDF Text1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        464,
        992
      ]
    },
    {
      "parameters": {},
      "id": "3c1ceecf-ef39-4d41-914f-7d755d9a018b",
      "name": "Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        992,
        1552
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "cd427fd6-58c1-4e9f-b206-0990b02af8d1",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        64,
        1168
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "05d7b99f-1c0b-48a1-9c15-2c920512bde0",
      "name": "Extract from Excel1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        320,
        1184
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 816,
        "width": 2300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        848
      ],
      "typeVersion": 1,
      "id": "a0ece578-0db1-483c-8710-8d0f61a7167b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Arquivos criados em uma pasta específica > Verificar o tipo de arquivo e realizar conversão > Extrair o texto > Adicionar ao Vector Store",
        "height": 80,
        "width": 1600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        1568
      ],
      "typeVersion": 1,
      "id": "3b99841e-b53d-49b8-bb6a-38b1b24c3e52",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Gatilho de Monitoramento",
        "height": 440,
        "width": 213,
        "color": 5
      },
      "id": "e35e1f34-f94b-4b1d-a7bb-3c9a3fb12aaf",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        1008
      ]
    },
    {
      "parameters": {
        "jsCode": "return $items(\"Set File ID1\").map(item => {\n  return {\n    json: {\n      file_id: item.json.file_id,\n      file_type: item.json.file_type\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        1152
      ],
      "id": "e7d80806-fec9-4c25-924d-32fb7aa7831f",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        1152
      ],
      "id": "abb1d407-7fb3-429f-be3d-eb838c518718",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID1').first().json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "adb612af-fd2e-4329-80c1-5e9b6f8c6190",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        928,
        1392
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        608
      ],
      "id": "6f5e6e95-950c-49f7-bffb-178e0a90eb54",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "4CT8zdx4hKi3971O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "8d500dbf-0f61-474f-9756-c8340449c8e5",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        784,
        1424
      ],
      "credentials": {
        "openAiApi": {
          "id": "4CT8zdx4hKi3971O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        896,
        1184
      ],
      "id": "11cfcffd-c152-42a4-8dbd-22a3c194620c",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "r2uQFvlq0GDUjDGV",
          "name": "Supabase GrdMad"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.aiagentautomate.com.br",
            "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "466",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9,pt;q=0.8",
            "content-type": "application/json",
            "origin": "https://chat.grdmad.com.br",
            "priority": "u=1, i",
            "referer": "https://chat.grdmad.com.br/",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "200.39.37.99",
            "x-forwarded-host": "n8n.aiagentautomate.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "39017bc971e2",
            "x-real-ip": "200.39.37.99"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "endereço?",
            "timestamp": "2025-11-28T05:38:40.953Z",
            "messages": [
              {
                "role": "user",
                "content": "pix?",
                "timestamp": "2025-11-28T05:38:31.199Z",
                "status": "sent"
              },
              {
                "role": "assistant",
                "content": "Essa informação ainda não está na nossa base, mas posso pedir para o time atualizar o conhecimento interno.",
                "timestamp": "2025-11-28T05:38:35.418Z",
                "status": "delivered"
              },
              {
                "role": "user",
                "content": "endereço?",
                "timestamp": "2025-11-28T05:38:40.953Z",
                "status": "sending"
              }
            ]
          },
          "webhookUrl": "https://n8n.aiagentautomate.com.br/webhook/comercial",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backup-n8n",
  "repo_owner": "faelsou",
  "repo_path": "backups",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-10T15:31:26.955Z",
      "updatedAt": "2025-11-10T15:31:26.955Z",
      "role": "workflow:owner",
      "workflowId": "z7jvsDQhkmg9M1lo",
      "projectId": "uxvBhUmI1Fx6jdU7"
    }
  ],
  "staticData": {
    "node:File Created": {
      "lastTimeChecked": "2025-11-28T04:50:08Z"
    },
    "node:File Updated": {
      "lastTimeChecked": "2025-11-28T04:50:09Z"
    },
    "node:File Created1": {
      "lastTimeChecked": "2025-11-28T05:50:13Z"
    },
    "node:File Updated1": {
      "lastTimeChecked": "2025-11-28T05:50:13Z"
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-11-28T06:41:36.904Z",
  "versionId": "d66e3794-061a-4b00-a018-8a49a650f4c4"
}