2025/05/byMMmL6IuRFKoR2k.json
{
  "active": false,
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Organizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizar Dados": {
      "main": [
        [
          {
            "node": "Salvar no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Supabase": {
      "main": [
        [
          {
            "node": "Verificar Contato HTTP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Existe?": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Verificar Contato HTTP1": {
      "main": [
        [
          {
            "node": "Lead Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-13T03:32:13.036Z",
  "id": "byMMmL6IuRFKoR2k",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 8",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads",
        "options": {}
      },
      "id": "a0163071-804e-4b20-b39e-5f9d030e45be",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        660,
        -80
      ],
      "webhookId": "leads-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nome_completo",
              "value": "={{ $json.body.name }}"
            },
            {
              "name": "empresa",
              "value": "={{ $json.body.company }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "telefone_formatado",
              "value": "={{ $json.body.phone.replace(/\\D/g, '').slice(-11) }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "c60fd282-d066-4852-a079-9f407ba3d5bb",
      "name": "Organizar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        860,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "limit": 1
      },
      "id": "7aac055a-6c31-47a0-868b-da36c3f04dcb",
      "name": "Salvar no Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1080,
        -80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wKMmHUFNQJCXhQYj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.response.exists }}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "69cc8d06-72ed-418a-bb7b-dfe3cea91a0c",
      "name": "Lead Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "aiagenteautomate@gmail.com",
        "remoteJid": "={{ $json.telefone_formatado }}",
        "messageText": "=Olá {{ $json.nome_completo }}, como vai? 👋 Sou a Aurora, especialista da AIAgent Automate. Vi que você se interessou por nossa solução de automação utilizando IA. Posso te ajudar com alguma dúvida?",
        "options_message": {}
      },
      "id": "ab5b2277-5f61-47d6-ba85-e95840262d0b",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1880,
        -180
      ],
      "credentials": {
        "evolutionApi": {
          "id": "vBZUmfwmCqpNUkEJ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "url": "`https://apiwp.aiagenteautomate.com.br/api/contacts/${$json.telefone_formatado}`",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer CN4AnbOtY79Wv6wNyx88CdoKXqugcINi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "c804b333-94e0-4706-998b-ad94e69b60f8",
      "name": "Verificar Contato HTTP1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1340,
        -80
      ]
    }
  ],
  "pinData": {},
  "repo_name": "backup-n8n",
  "repo_owner": "faelsou",
  "repo_path": "backups/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-13T04:31:29.978Z",
  "versionId": "fdc84204-c76c-4a4b-b760-b0618278d336"
}