2025/05/V6mwaH4BSe49S2bl.json
{
  "active": false,
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Organizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizar Dados": {
      "main": [
        [
          {
            "node": "Salvar no Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Supabase": {
      "main": [
        []
      ]
    },
    "Verificar Contato HTTP": {
      "main": [
        [
          {
            "node": "Lead Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Existe?": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Fluxo Agendamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Supabase2": {
      "main": [
        [
          {
            "node": "Verificar Contato HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-13T04:36:38.680Z",
  "id": "V6mwaH4BSe49S2bl",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 9",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads",
        "options": {}
      },
      "id": "6867d93f-08ba-434e-bfe9-42542621979a",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -660,
        680
      ],
      "webhookId": "leads-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nome_completo",
              "value": "={{ $json.body.name }}"
            },
            {
              "name": "empresa",
              "value": "={{ $json.body.company }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "telefone_formatado",
              "value": "={{ $json.body.phone.replace(/\\D/g, '').slice(-11) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2aba719f-1bd0-4013-a698-dfe26a2d8c0e",
      "name": "Organizar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -460,
        680
      ]
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.nome_completo }}"
            },
            {
              "fieldId": "company",
              "fieldValue": "={{ $json.empresa }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.telefone_formatado }}"
            }
          ]
        }
      },
      "id": "38640339-35fe-47d9-bb07-ddd957738c15",
      "name": "Salvar no Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -320,
        460
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wKMmHUFNQJCXhQYj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{`https://apiwp.aiagenteautomate.com.br/api/contacts/${$json.telefone_formatado}`}}",
        "options": {}
      },
      "id": "6ad6048c-15bb-47f1-bebe-c97131568969",
      "name": "Verificar Contato HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -60,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exists }}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "c809eddd-c7fd-4588-85e2-b7c02cd7fa53",
      "name": "Lead Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        680
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "aiagenteautomate@gmail.com",
        "remoteJid": "={{ $json.telefone_formatado }}",
        "messageText": "=Olá {{ $json.nome_completo }}, sou a Aurora da AIAgent Automate 👋. Podemos agendar um horário para te mostrar como nossos agentes de IA funcionam?",
        "options_message": {}
      },
      "id": "938b5b4a-f233-440c-a34b-b674e19a65f6",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        340,
        680
      ],
      "credentials": {
        "evolutionApi": {
          "id": "vBZUmfwmCqpNUkEJ",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "0f07a290-16c1-43b0-8348-6afef5e7849c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        920
      ],
      "credentials": {
        "openAiApi": {
          "id": "4CT8zdx4hKi3971O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3lS0OxxlpfjlX60s",
          "mode": "list",
          "cachedResultName": "Fluxo Agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            ""
          ],
          "schema": [
            {
              "id": "",
              "displayName": "",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "a5a3bf03-16d6-41ae-9486-85cf234aef98",
      "name": "Fluxo Agendamento",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        800,
        920
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        560,
        680
      ],
      "id": "2f6dbc75-c003-429a-a32a-950099a5b1a6",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        920
      ],
      "id": "520afe9a-b6d1-40ee-a130-261b9f095565",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads"
      },
      "id": "1f2102a4-bbbc-4454-b6b7-2e188c73440f",
      "name": "Salvar no Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wKMmHUFNQJCXhQYj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads"
      },
      "id": "ff1ec01c-a4a6-4f2b-9b1d-f0b918f87547",
      "name": "Salvar no Supabase2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -260,
        680
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wKMmHUFNQJCXhQYj",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "backup-n8n",
  "repo_owner": "faelsou",
  "repo_path": "backups/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-14T23:59:28.357Z",
  "versionId": "9614a78c-9eed-48bc-9a72-49d9988cebbd"
}